:root{
    --primary-color: #333;
    --secondary-color: #ccc;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.mb-1{
    margin-bottom: 1em;
}
/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #333;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

p{
    padding: 10px 0;
}
.rise-shake:hover {
  animation: jump-shaking 0.83s infinite;
  transition: 0.5s;
  scale: 1.05;
}
@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-5px) }
  35% { transform: translateY(-5px) rotate(5deg) }
  55% { transform: translateY(-5px) rotate(-5deg) }
  65% { transform: translateY(-5px) rotate(5deg) }
  75% { transform: translateY(-5px) rotate(-5deg) }
  100% { transform: translateY(0) rotate(0) }
}
.content img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
/* The CSS ensures the height scales fluidly with the width */
.responsive-img {
  width: 100%;
  height: auto; /* Crucial: overrides the 150px default height */
  display: block;
}

header {
    background-color: #FFFFFF;
    color: white;
    padding: 20px 0;
}

/* Flexbox navigation */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #cccccc;
    padding: 0 10px;
    position: sticky;
    top: 0;
}

.navbar a {
    color: #333;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: 768px) {
    .navbar a {
    padding: 20px 20px;
}
}
.navbar a:hover {
    background-color: #999999;
    transition: background-color 0.5s ease;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    max-width: 1100px;
}

.container .content-header.hp-position {
order:2;
}
.container .content.hp-position {
order:1;
}

/* Flexbox content area */
.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-header {
    padding: 20px;
}

/* Flexbox items */
.box {
    background-color: #eee;
    color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 1 300px;
    text-align: center;
    border-radius: 5px;
}

.box:first-child {
width: 100%;
flex-basis: 100%; /* Forces the first item to take the whole row */

}
.box:hover {
    background-color: #ccc;
    transition: background-color 0.5s ease;
}

.col {
    padding: 10px;
    margin: 10px;
    flex: 1 1 300px;
}
@media (min-width: 768px) {

.col.one {
    flex: 2; /* Takes up twice the space of .col.two on larger screens */
}
.col.two {
    flex: 1; /* Takes up the remaining space */
}
}
/*---------
CONTACT FORM
---------- */

.contact-form-container {
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}
@media (min-width: 768px) {

.contact-form-container {
    text-align: left;
}
}

.contact-form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
.contact-form-container h1::before {
    content: "🌟 ";
    font-size: 30px;
    vertical-align: middle;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}
.email-label::before {
    content: "💌 ";
    font-size: 30px;
    vertical-align: middle;

}
.password-label::before {
    content: "🔑 ";
    font-size: 30px;
    vertical-align: middle;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
select {
    width: 100%;
}
input:focus,
textarea:focus {
    background-color: #eee;
}
input:required,
textarea:required {
    border: 2px solid red;
}
input:invalid {
    background-color: #ffe0e0;
}
input:valid{
    background-color: #ffffff;
}
button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:link,
button:visited,
button:focus {
    background-color: #4cae4c;
}
button:hover {
    transition: 0.5s;
    background-color: #000;
    transform:scale(1.5) rotate(360deg);
}

/* Styling the Terms and Conditions Link */
.terms-link {
    color: #000;
    text-decoration: none;
}
.terms-link:hover {
    color: #666;
    text-decoration: underline; 
}
/* Footer styling */
footer {
    background-color: #ccc;
    color: #333;
    padding: 20px 0;
    margin-top: 20px;
}

