

:root{
    --bg-color: #f4f4f4;
    --header-color: #FFFFFF;

    /*font colors*/
    --primary-font-color: #333;
    --secondary-font-color: #666;
    --button-font-color: #fff;
    --button-bg-color: #333333;
    /*---grey scale---*/
    --pale-grey: #cccccc;
    --paler-grey: #eeeeee;
    --grey: #999999;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.mb-1{
    margin-bottom: 1em;
}
/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: var(--primary-font-color);
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg-color);
}

p{
    padding: 10px 0;
}
.rise-shake:hover {
  animation: jump-shaking 0.83s infinite;
  transition: 0.5s;
  scale: 1.05;
}
@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-5px) }
  35% { transform: translateY(-5px) rotate(5deg) }
  55% { transform: translateY(-5px) rotate(-5deg) }
  65% { transform: translateY(-5px) rotate(5deg) }
  75% { transform: translateY(-5px) rotate(-5deg) }
  100% { transform: translateY(0) rotate(0) }
}
.content img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
/* The CSS ensures the height scales fluidly with the width */
.responsive-img {
  width: 100%;
  height: auto; /* Crucial: overrides the 150px default height */
  display: block;
}

header {
    background-color: var(--header-color);
    color: white;
    padding: 20px 0;
}

/* Flexbox navigation */
.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--pale-grey);
    padding: 0 10px;
    position: sticky;
    top: 0;
}

.navbar a {
    color: #333;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: 768px) {
    .navbar a {
    padding: 20px 20px;
}
}
.navbar a:hover {
    background-color: var(--grey);
    transition: background-color 0.5s ease;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bg-color);
    max-width: 1100px;
}

.container .content-header.hp-position {
order:2;
}
.container .content.hp-position {
order:1;
}

/* Flexbox content area */
.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-header {
    padding: 20px;
}

/* Flexbox items */
.box {
    background-color: var(--paler-grey);
    color: var(--primary-font-color);
    padding: 10px;
    margin: 10px;
    flex: 1 1 300px;
    text-align: center;
    border-radius: 5px;
}

.box:first-child {
width: 100%;
flex-basis: 100%; /* Forces the first item to take the whole row */

}
.box:hover {
    background-color: var(--pale-grey);
    transition: background-color 0.5s ease;
}

.col {
    padding: 10px;
    margin: 10px;
    flex: 1 1 300px;
}
@media (min-width: 768px) {

.col.one {
    flex: 2; /* Takes up twice the space of .col.two on larger screens */
}
.col.two {
    flex: 1; /* Takes up the remaining space */
}
}
/*---------
CONTACT FORM
---------- */

.contact-form-container {
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}
@media (min-width: 768px) {

.contact-form-container {
    text-align: left;
}
}

.contact-form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
.contact-form-container h1::before {
    content: "🌟 ";
    font-size: 30px;
    vertical-align: middle;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}
.email-label::before {
    content: "💌 ";
    font-size: 30px;
    vertical-align: middle;

}
.password-label::before {
    content: "🔑 ";
    font-size: 30px;
    vertical-align: middle;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--pale-grey);
    box-sizing: border-box;
}
select {
    width: 100%;
}
input:focus,
textarea:focus {
    background-color: var(--paler-grey);
}
input:required,
textarea:required {
    border: 2px solid red;
}
input:invalid {
    background-color: #ffe0e0;
}
input:valid{
    background-color: #ffffff;
}
button {
    background-color: var(--button-bg-color);
    color: var(--button-font-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:link,
button:visited,
button:focus {
    background-color: #4cae4c;
}
button:hover {
    transition: 0.5s;
    background-color: #000;
    transform:scale(1.5) rotate(360deg);
}

/* Styling the Terms and Conditions Link */
.terms-link {
    color: var(--primary-font-color);
    text-decoration: none;
}
.terms-link:hover {
    color: var(--secondary-font-color);
    text-decoration: underline; 
}


/*--------------
SERVICES PAGE
-----------------*/


 .snippet__box{
	font-size: 62.5%;
}

/*-----------------------------
1 COL SECTION
----------------------------*/
 .snippet__col{
    width: 100%;
    text-align: center;
    margin: 2em 0;
    }
 .snippet__box{
    background: #eee;
    
}
 .snippet__box--inner{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3em 0;
    text-align: center;
    margin: 1em 0;    
    position: relative;
    height: 100%;
    width: 100%;
}
 .snippet__box--inner:before{ 
    margin: 0;
    border: 0px solid #eee;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
 .snippet__title{
    font:1.8rem/1 Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0.5em 0;
}

 .snippet__title--sub{
    font-weight: bold;
    font-size: 0.8rem;
    display: block 
}

 .snippet__title--small{
    text-transform: initial;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: block;
    font-size:1.8rem;
    margin:0.5em 0;
}
.snippet__para{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #666;
    font-size: 1.2rem;
}
 .snippet__cta{
    padding: 10px 30px;
    background: #222;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font: 0.8rem Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-flex;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: bold;
    margin: 0 0 1em 0;
}
 .snippet__box:hover .snippet__cta{
    background: #666;
}

@media (min-width: 1200px) {
     .snippet__title{ font-size: 2em}
     .snippet__cta{font-size: 1em;}
}
/* Footer styling */
footer {
    background-color: var(--pale-grey);
    color: var(--primary-font-color);
    padding: 20px 0;
    margin-top: 20px;
}

